--extra-index-url https://download.pytorch.org/whl/cu118
transformers
torch
torchvision
numpy
fire
pillow
einops
sentencepiece
protobuf
webdataset
opencv-python
safetensors
tqdm
bitsandbytes
diffusers
# depthfm
torchdiffeq
omegaconf
matplotlib
accelerate

# xformers==0.0.23 # will destroy numpy and others.