--extra-index-url https://download.pytorch.org/whl/cu118
transformers
torch
torchvision
numpy
fire
pillow
einops
sentencepiece
protobuf
webdataset
opencv-python
safetensors
tqdm
# depthfm
torchdiffeq
omegaconf
matplotlib
accelerate
diffusers
xformers==0.0.23